<!DOCTYPE html>
<html>

<head>
	<title>yelpcamp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheet/main.css">

</head>

<body>
	<div class="footer">
		<div class="inner">
			<h1>AlienPad|Primeval Group</h1>
			<div>
				<ul>

					<h3>Contact Us</h3>
					<li>About Us </li>
					<li>Press</li>
				</ul>
			</div>
			<div>
				<ul>

					<h3>Payments</h3>
					<li>Privacy</li>
					<li>Report An Issue</li>

				</ul>
			</div>
			<div>
				<ul>

					<h3>Return Policy</h3>
					<li>Terms of Use </li>
					<li>Carrers</li>


				</ul>
			</div>


			<div>
				</a>
				<div class="vertical"></div>
				<ul>
					<div>
						<h3>MailAt</h3>
						<p>Primevalgroup</p>
						<p>MilkyWayGalaxy
						<p>
						<p>Universe</p>

				</ul>
			</div>
			<ul>
				<div>
					<h3>Registered Office</h3>
					<p>Orion nebula</p>
			</ul>
		</div>
	</div>


	<style>
		.footer {
			display: table;
			width: 100%;
			background-color: #F8CF40;
			color: white;
			text-decoration: none;
		}

		.footer .inner h1 {
			float: left;
			width: 100%;
		}

		.footer .inner div tr {
			float: bottom;
			padding-left: 50px;

		}

		.footer .inner {
			padding: 50px;
		}

		.footer li {
			font-size: 40px;
		}

		.footer .inner div {
			width: 17%;
			margin-left: 5px;
			margin-right: 5px;
			float: left;
			text-align: center;
		}

		.footer .inner li {
			font-size: 20px;
			color: #dbe2ef;
		}

		.footer .inner div ul li {
			list-style-type: none;
		}

		.footer .inner h1 {
			color: blue;
			font-size: 40px;
		}

		.footer .inner h3 {
			color: grey;
			font-size: 20px;
		}

		.footer .vertical {
			border-left: 6px solid black;
			height: 200px;
		}
	</style>