<%- include ('partials/header') %>
<section class="home" id="home">
    <h1> Welcome to the new era of Experiencing the REAL Power Of Short stories </h1>
    <h2> Lets Get Into The Diffrent Dimension Of The Universe</h2>
    <button type="button" class="btn btn-default"><a href="/campgrounds">Click here</a></button>
</section>

<%- include ('partials/footer') %>
<style>
.home{
       background-image: url('http://i.stack.imgur.com/kx8MT.gif');
      background-size: cover;
      width:100%;
      height:100vh;
      margin-top: -20px;
  }
  
  .home h1{
      color:white;
      padding-top: 90px;
      font-size: 75px;
      padding-right: 200px;
      padding-left: 30px;
  }
  
  .home h2{
      color:rgb(192, 192, 192);
      padding-left: 460px;
      padding-top: 60px;
  }
  
  .home button {
      padding: 5px 15px;
      letter-spacing: 1px;
      background-color: rgb(248, 248, 248);
      color:white;
      font-size: 21px;
      border-style: none;
      transition-duration: 0.4s;
      margin-left: 1300px;
  }
  .home button:hover{
   background-color: white;
    color:black;
  }
  
  .home h3{
      padding-left: 1000px;
      padding-top: 30px;
  }

</style>